body{
	text-align: center;
	background-color: gainsboro;
}

#game_div, p {
	width: 600px;
	margin: auto;
	margin-top: 20px;
}

#scoreDiv{
	visibility: hidden;
	background-color: gray;
	margin: 0 auto;
	margin-top: 15px;
	width: 200px;
	padding: 15px;
	border-radius: 10px;
}

body h1{
	font-family: 'Verdana';
	font-size: 44px;
	color: gray;
	margin-bottom: -20px;
	margin-top: 45px;
	text-shadow: 2px 2px black;
}

a {
	color: red;
	text-decoration: none;
}

a:hover{
	color: black;
}